//fonts
$font_source_sans_pro: 'Source Sans Pro';
$font_arial: 'Arial';
$font_roboto: 'Roboto';
$font_sans_serif: 'sans-serif';

//urls
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
